.header{
    padding-top: 112px;
    position: relative;
}
.headerTop{
    position: absolute;
    top: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    display: flex;
}
.headerBody{
    width: 1180px;
    margin: 0 auto;
    padding: 50px 0 20px 0;

}

.headerBody > a {
    text-decoration: none;
    color: black;

}