body {
    display: block;
}

a {
    color: black;
}

.carousel-inner img {
    width : 100%;
    height : 450px;
}

#location {
    width: 90px;
    border: none;
    border-radius: 4px;
    background-color: #F0F0F0;
}

.recommend-img {
    width: 150px;
    height: 150px;
}

.recommend-img img {
    width: 140px;
    height: 140px;
    border: 1px solid black;
    border-radius: 10px;
}

.pinkbtn {
    width: 40px;
    height: 40px;
    background: #F89E91;
    border-radius: 100%;
    border: none;
    color: white;
}

.menu_name {
    color: black;
    font-size: 10pt;
}

.menu_div {
    padding: 0px 58px; 
    text-align: left;
}

.menu_div2 {
    padding: 0px 60px;
    text-align: center;
}

.menu_div pre {
    margin: 0;
}

svg {
    margin-right: 5px;
}

.store_logo {
    border: 0.5px solid black;
    border-radius: 10px;
}

#hot {
    width: 100%;
    height: 180px;
    background: #F8EBEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.hot_tag {
    border: 1px solid black;
    border-radius: 20pt;
    width: 120px;
    height: 35px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px 0px 50px;
}

.keywords {
    padding-left: 30px;
    display: flex;
    align-items: flex-start;
}

.store_name {
    display: flex;
    flex-direction: column;
    align-items: center;
}