.head_line { height: 1px; background-color: #E8E3E3; margin-bottom: 90px; }
.tal { text-align: left; }

/* 관리자 페이지 사이드 바 메뉴 css 수정 */
.total_container { display: flow-root; }
.total_container .side_menu { width: 300px; display: inline-block; }
.total_container .side_menu #sidebar {  }
.total_container .side_menu #sidebar .sidebar_list { margin-bottom: 0; border-bottom-color: #000; }
.total_container .side_menu #sidebar .sidebar_list > li { padding-bottom: 25px; }
.total_container .side_menu #sidebar .sidebar_list > li:last-child { padding-bottom: 0; }
.total_container .side_menu #sidebar .sidebar_list > li > a { font-size: 22px; line-height: 24px; color: #333; font-weight: 600; padding: 0; margin-bottom: 15px; }
.total_container .side_menu #sidebar .sidebar_list > li > a::after { display: none; }
.total_container .side_menu #sidebar .sidebar_list > li > ul {  }
.total_container .side_menu #sidebar .sidebar_list > li > ul > li { margin-bottom: 10px; }
.total_container .side_menu #sidebar .sidebar_list > li > ul > li a { padding: 0 !important; font-size: 16px !important; color: #6D6D6D; font-weight: 300; }
.total_container .side_menu #sidebar .sidebar_list > li .manager_location { width: 100%; padding: 5px; outline: none; border: 0; background-color: #F89E91; color: #FFF; }

/* 관리자 게시판 틀 css */
.total_container .board_container { float: right; width: 1160px; padding-left: 80px; }
.total_container .board_container h2 { font-size: 35px; line-height: 37px; color: #333; font-weight: 600; margin-bottom: 25px; border-bottom: 2px solid #333; padding-bottom: 15px; }
.total_container .board_container .top_box { display: flex; align-items: center; margin-bottom: 15px; }
.total_container .board_container .top_box p { font-size: 22px; line-height: 20px; color: #333; margin-top:8px; margin-bottom: 4px; font-weight: bold; }
.total_container .board_container .top_box.space { margin-bottom: 40px !important; }
.total_container .board_container .top_box input { margin: 0 0 0 auto; width: 90px; height:35px; padding: 12px 0; border: 0; border-radius: 10px; background-color: #D7D4D4; font-size: 14px; line-height: 16px; color: #fff; }
.total_container .board_container .top_box .top_btn { margin: 0 0 0 auto; }

.total_container .board_container .board_table {  }
.total_container .board_container .board_table thead {  }
.total_container .board_container .board_table tbody {  }
.total_container .board_container .board_table tr { text-align: center; border-bottom: 1px solid #ddd; }
.total_container .board_container .board_table tr th { border-bottom: 0; }
.total_container .board_container .board_table tr td { vertical-align: middle; }
.total_container .board_container .board_table tr td a { color: #333; }

.total_container .board_container .black_btn { float: right; width: 90px; padding: 12px 0; border: 0; border-radius: 15px; background-color: #5F5F5F; font-size: 14px; line-height: 16px; color: #fff; }

/* 공지사항 */
.total_container .board_container .board_table tbody tr.important_notice { background-color: #FDEEEB; }
.total_container .board_container .bd_write_header { border-top: 1px solid #B1B1B1; border-bottom: 1px solid #B1B1B1 !important; }
.total_container .board_container .bd_write_header.bd_bottom_line thead tr { border-bottom: 1px solid #D7D4D4; }
.total_container .board_container .delete_btn { float: right; margin-left: 10px; }
.total_container .board_container .bd_write_header { border-top: 1px solid #B1B1B1; border-bottom: 1px solid #B1B1B1; margin-bottom: 0; }
.total_container .board_container .bd_write_header thead tr { text-align: left; }
.total_container .board_container .bd_write_header thead tr th { vertical-align: middle; border-bottom: 0; border-top: 0; background-color: #FDEEEB; padding: 20px 0; text-align: center; }
.total_container .board_container .bd_write_header thead tr td { border-bottom: 0; border-top: 0; padding: 20px 0; }
.total_container .board_container .bd_write_header thead tr td input { width: 100%; height: 100%; border-radius: 0; padding: 0 15px; border: 0; outline: none; }
.total_container .board_container .bd_write_header thead tr td select { width: 100%; height: 100%; border: 0; outline: none; padding: 0 25px; appearance: none; background: url('../images/select_arrow.png') 95% center no-repeat; background-size: 28px; }
.total_container .board_container .text_area { padding: 40px; border-bottom: 1px solid #B1B1B1; }
.total_container .board_container .text_area textarea { width: 100%; height: 100%; padding: 20px; border: none; font-size: 26px; line-height: 32px; color: #333; outline: none; resize: none; }
.total_container .board_container .text_area2 textarea { width: 100%; height: 800px; padding: 20px; border:1px solid #D7D4D4; font-size: 26px; line-height: 32px; color: #333; resize: none; margin-bottom: 20px;}
.total_container .board_container .btn_box { text-align: center; margin: 30px 0 150px; }
.total_container .board_container .btn_box .btn { width: 90px; padding: 12px 0; border: 0; border-radius: 10px; font-size: 14px; line-height: 16px; color: #fff; }
.total_container .board_container .btn_box .btn.write_btn { margin-right: 25px; }
.total_container .board_container .btn_box .prev_btn { background-color: #BEBEBE; }
.total_container .board_container .bd_detail_view thead tr th { font-size: 18px; line-height: 20px; color: #333; }
.total_container .board_container .bd_detail_view thead tr td { padding: 20px; font-size: 18px; line-height: 20px; color: #333; }


/* 자주하는 질문 */
.question_category { border: 2px solid #ddd; padding: 23px 0; margin-bottom: 30px; }
.question_category li { float: left; width: 16.66666%; text-align: center; padding: 18px; border-right: 1px solid #ddd; }
.question_category li:last-child { border-right: 0; }
.question_category li a { font-size: 18px; line-height: 20px; color: #333; display: block; width: 100%; }
.question_table tbody tr.answer.tal { text-align: left !important; background-color: #ffddd7; display: none; }
.question_table tbody tr.answer td { padding: 30px; font-size: 16px; line-height: 22px; color: #333; }


/* 배너관리 */
.cor_btn { width: 70px; padding: 8px 0; border: 0; border-radius: 15px; background-color: #f6bfb7; font-size: 14px; line-height: 16px; color: #fff; }
.total_container .board_container .banner_write {}
.total_container .board_container .banner_write thead tr { border-bottom: 1px solid #B1B1B1; }
.total_container .board_container .banner_write thead tr td select{ width: auto; padding: 0 42px; }
.total_container .board_container .banner_write thead tr td label { margin: 0 0 0 15px; }
.total_container .board_container .banner_write thead tr td input[type=radio] { width: auto; height: auto; }
.total_container .board_container .banner_write thead tr td input[type=file] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.total_container .board_container .banner_write thead tr td label.file_label { width: auto; background-color: #EDEDED; text-align: center; padding: 8px 12px; font-size: 15px; color: #333; cursor: pointer; }


/*** 태그관리 ***/

/* 공통 */
.total_container .board_container .tag_title { font-size: 24px; line-height: 26px; color: #757575; }
.total_container .board_container .tag_container { /*display: flex; align-items: center; justify-content: space-between;*/ margin-bottom: 75px; }

/* 미사용태그 */
.total_container .board_container .tag_container .unused_tag { width: 445px; display: inline-block; }
.total_container .board_container .tag_container .unused_tag > button { float: right; width: 60px; background-color: #F89E91; padding: 6px 0; font-size: 15px; line-height: 17px; color: #fff; border: 0; border-radius: 5px; }
.total_container .board_container .tag_container .unused_tag .tag_list { border: 1px solid #868686; border-radius: 10px; padding: 25px; margin-top: 15px; }
.total_container .board_container .tag_container .unused_tag .tag_list li { display: flex; align-items: center; margin-bottom: 15px; }
.total_container .board_container .tag_container .unused_tag .tag_list li:last-child { margin-bottom: 0; }
.total_container .board_container .tag_container .unused_tag .tag_list li input[type=checkbox] { display: none; }
.total_container .board_container .tag_container .unused_tag .tag_list li input[type=checkbox] + label { width: 25px; height: 25px; border: 1px solid #868686; border-radius: 5px; margin-bottom: 0; }
.total_container .board_container .tag_container .unused_tag .tag_list li input[type=checkbox]:checked + label { background: url('../images/check_img.png') center no-repeat; background-color: #F89E91; }
.total_container .board_container .tag_container .unused_tag .tag_list li span { font-size: 18px; line-height: 20px; color: #333; font-weight: 600; margin-left: 15px; }
.total_container .board_container .tag_container .unused_tag .tag_list li button { margin: 0 0 0 auto; border: 0; background-color: #fff; }
.total_container .board_container .tag_container .unused_tag .tag_list li button img {}


/* 태그 이동 버튼 */
.total_container .board_container .tag_container .choice_use { width: 181px; display: inline-block; vertical-align: top; margin-top: 100px; }
.total_container .board_container .tag_container .choice_use button { border: 0; background-color: #fff; display: block; margin: 0 auto; }
.total_container .board_container .tag_container .choice_use button img {}


/* 사용 태그 */
.total_container .board_container .tag_container .used_tag { width: 445px; display: inline-block; vertical-align: top; }
.total_container .board_container .tag_container .used_tag p { font-size: 18px; line-height: 20px; color: #333; font-weight: 600; float: right; margin: 10px 0 60px; }
.total_container .board_container .tag_container .used_tag .tag_list { border: 1px solid #868686; border-radius: 10px; padding: 25px; margin-top: 15px; }
.total_container .board_container .tag_container .used_tag .tag_list li { display: flex; align-items: center; margin-bottom: 15px; }
.total_container .board_container .tag_container .used_tag .tag_list li:last-child { margin-bottom: 0; }
.total_container .board_container .tag_container .used_tag .tag_list li input[type=checkbox] { display: none; }
.total_container .board_container .tag_container .used_tag .tag_list li input[type=checkbox] + label { width: 25px; height: 25px; border: 1px solid #868686; border-radius: 5px; margin-bottom: 0; }
.total_container .board_container .tag_container .used_tag .tag_list li input[type=checkbox]:checked + label { background: url('../images/check_img.png') center no-repeat; background-color: #F89E91; }
.total_container .board_container .tag_container .used_tag .tag_list li span { font-size: 18px; line-height: 20px; color: #333; font-weight: 600; margin-left: 15px; }


/* 핫 키워드 */
.total_container .board_container .hot_keword { width: 445px; clear: right; }
.total_container .board_container .hot_keword > button { float: right; width: 60px; background-color: #D7D4D4; padding: 6px 0; font-size: 15px; line-height: 17px; color: #fff; border: 0; border-radius: 5px; }
.total_container .board_container .hot_keword .keyword_list { border: 1px solid #868686; border-radius: 10px; padding: 25px; margin-top: 15px; }
.total_container .board_container .hot_keword .keyword_list li { display: flex; align-items: center; margin-bottom: 15px; }
.total_container .board_container .hot_keword .keyword_list li:last-child { margin-bottom: 0; }
.total_container .board_container .hot_keword .keyword_list li .num { width: 25px; height: 25px; background-color: #F89E91; border-radius: 5px; font-size: 20px; line-height: 22px; color: #fff; text-align: center; }
.total_container .board_container .hot_keword .keyword_list li .txt { font-size: 18px; line-height: 20px; color: #333; font-weight: 600; margin-left: 15px; }

.total_container .board_container .save_btn { width: 100px; padding: 10px 0; background-color: #F89E91; font-size: 18px; line-height: 20px; color: #fff; font-weight: 600; text-align: center; float: right; border: 0; border-radius: 5px; margin-top: 40px; }


/* 태그 추가 모달 */
.total_container .board_container .add_tag_modal { top: 20%; }
.total_container .board_container .add_tag_modal .modal-dialog {}
.total_container .board_container .add_tag_modal .modal-dialog .modal-content { border-radius: 20px; }
.total_container .board_container .add_tag_modal .modal-dialog .modal-content .modal-body { text-align: center; background-color: #F8EBEB; padding: 50px; border-radius: 20px; }
.total_container .board_container .add_tag_modal .modal-dialog .modal-content .modal-body p { font-size: 28px; line-height: 30px; color: #F89E91; font-weight: 600; margin-bottom: 15px; }
.total_container .board_container .add_tag_modal .modal-dialog .modal-content .modal-body input[type=text] { width: 250px; padding: 5px 10px; border: 0; }
.total_container .board_container .add_tag_modal .modal-dialog .modal-content .modal-body .btn_box { margin: 15px 0 0; }
.total_container .board_container .add_tag_modal .modal-dialog .modal-content .modal-body .btn_box button { width: 70px; border: 0; border-radius: 5px; padding: 7px; font-size: 15px; line-height: 17px; color: #fff; }


/* 핫 키워드 수정 모달 */
.total_container .board_container .add_tag_modal .edit_box {}
.total_container .board_container .add_tag_modal .edit_box li { display: flex; align-items: center; justify-content: center; margin-bottom: 15px; }
.total_container .board_container .add_tag_modal .edit_box li .num { width: 34px; height: 34px; background-color: #F89E91; border-radius: 5px; font-size: 20px; color: #fff; text-align: center; display: inline-block; margin-right: 15px; }

/* 검색박스 */
.search_box { text-align: center; }
.search_box ul { width: auto; }
.search_box ul li { float: left; }
.search_box ul li .searchtext { margin: 0 5px 0 0; padding: 5px; }

/*== 이미지 파일 ==*/
.photo1 {
    display: inline-block;
    width: 180px;
    height: 160px;
    margin-left: 60px;
}
.photo2 {
    display: inline-block;
    width: 290px;
    height: 250px;
    margin-left: 10px;
    margin-right: 78px;
}

.photo_size {
    /* border: 1px solid blueviolet; */
    border-bottom: 1px solid #5F5F5F;
    text-align: right;
    padding: 30px;
    color: #B1B1B1;
    font-weight: 600;
}

/*== 텍스트박스 ==*/
.manager_text {
    border-radius: 1px !important;
    border: 1px solid #D7D4D4 !important;
    width: 350px;
    height: 40px;
    padding-left: 20px !important;
    margin-bottom: 10px;
}

/*== 셀렉트박스 ==*/
.manager1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-color: #D7D4D4;
    padding: 0 15px;
    height: 27px;
    width: 120px;
    font-size: 14px;
    /* text-align: center; */

    background:url('../images/sel_triangle1.png') no-repeat 97%;
    
}

.manager2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-color: #D7D4D4;
    padding: 0 20px;
    height: 40px;
    width: 350px;
    font-size: 17px;
    margin-bottom: 62px;

    background:url('../images/sel_triangle2.png') no-repeat 97%;
}

.manager1, .manager2::-ms-expand {
    display: none;
}

/*== 버튼 ==*/
.rev_btn {
   background-color: #F89E91 !important;
}

.gray_btn {
    border: 1px solid #D7D4D4;
    background-color: #D7D4D4;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    color: white;
    
}

.cre_btn {
    width: 250px;
    height: 36px;
    background-color: #F89E91;
    color: white;
    border-color: #F89E91;
}
.total_container .board_container .black_btn { text-align: center; float: right; width: 90px; padding: 12px 0; border: 0; border-radius: 10px; background-color: #5F5F5F; font-size: 14px; line-height: 16px; color: #fff; }
.total_container .board_container .black_btn.write_btn { margin-bottom: 20px; }


/* ===== pagination ===== */ 
/* nav */
.page_box {
    text-align: center;
    clear: right;
}

/* 페이징 전체 영역 */
.pagination {
    height: 36px;
    width: 40%;
    margin: 0 auto 20px;
    justify-content: center;
}

/* ul 태그 정렬 */
.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
    display: inline-block;
}

/* 테두리와 폰트 */
.pagination a {
    float: left;
    padding: 1px 14px;
    line-height: 34px;
    text-decoration: none;
    /* 폰트 색상 */
    color: black;
    border: 1px solid #D7D4D4;
}

/* 버튼에 커서 올라갔을 때 */
.page-link-num:hover {
    background-color: #F3F3F3;
  }

.page-link-move:hover {
    background-color: #F3F3F3;
  }


/* 누르면 고정 */
.page-link-num:focus {
    background-color: #F3F3F3;
    color:#F89E91;
}

/* ===== search ===== */ 
.search {
    margin: 0 auto;
    width:800px;
}

.glass {
    width: 40px;
    
}

.searchtext {
    margin: 20px 0 12% 0;
    width: 400px;
    height: 32px;
  }
  
.searchbutton{
    width: 72px;
    height: 33px;
    background-color: #F89E91;
    color: white;
    border:#F89E91;
  }

  /* 신고 관리 */
  .top_box2 input{
      margin-left: 20px;
      border-style: none;
      background: none;
      color: gray;
  }
  .top_box2 input:active{
      color: #F89E91;
  }
  
/* 날짜 div */
  .date_box {
      /* border: 1px solid salmon; */
      vertical-align:middle;
      display: inline-block;
      text-align: center;
      margin: 2% 0 4% 22%;

  }

  .date_box .calendar {
      margin: 0 10px;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid #D7D4D4;
      font-size: 17px;
      width: 200px;
  
      background:url('../images/sel_triangle1.png') no-repeat 97%;
  }

  .text_email{
      width: 85%; border: 1px solid #EDEDED; padding-left: 3px;
  }

  .adjustment_table {
    text-align: center;
    border: 0.2px solid #ddd;
  }

  .adjustment_table tr th, .adjustment_table tr td { border-bottom: 0; border: 1px solid #ddd; height: 40px; }


  input[type="date"]::-webkit-calendar-picker-indicator{
    opacity:0;
    z-index: 1;
    cursor: pointer;
  }

    /* 공지사항 추가 */
  .sel_notice {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    
      border-radius: 5px;
      padding: 0 40px 0 20px;

      font-size: 17px;
      margin-bottom: 10px;
  
      background: url('../images/select_arrow.png') no-repeat 97%;
      background-size: 20px;
    }
.searchtext::-webkit-input-placeholder {
text-align: center;  
}  

/* 버튼 오른쪽 정렬 */
.total_container .board_container .btn_box2 { text-align: right; margin: 30px 0 150px; }
.total_container .board_container .btn_box2 .btn.write_btn { margin-right: 25px; border-radius: 5px; color: white !important; width: 150px; background-color: #F89E91;}
.total_container .board_container .btn_box2 .prev_btn { background-color: #BEBEBE; border-radius: 5px; color: white; width: 150px; background-color: #BEBEBE !important;}
.up_btn { margin-left: 100px; border-radius: 10px; color: #68BF6B !important; width: 100px; border: 1px solid #68BF6B; background-color: white !important; }
.down_btn { margin-left: 100px; border-radius: 10px; color: white !important; width: 100px; border: 1px solid #68BF6B; background-color: #68BF6B !important; text-shadow: 2px 2px 2 #666666; }
.btntd { padding: 0 !important; padding-top: 10px !important; }