.delivery-container.at-container { margin: 70px auto 0; }
.delivery-container .title { font-size: 30px; line-height: 32px; color: #333; font-weight: 700; padding-bottom: 20px; border-bottom: 2px solid #000; margin-bottom: 30px; }
.infoBox { padding: 35px 70px; border: 2px solid #999; }
.infoBox .title2 { font-size: 26px; line-height: 28px; color: #676767; font-weight: 600; margin-bottom: 25px; }
.infoBox > div { margin-bottom: 20px; display: flex; align-items: center; }
.infoBox > div > span { font-size: 16px; line-height: 18px; color: #333; display: inline-block; width: 109px; text-align: center; }
.infoBox > div > input { border: 1px solid #ddd; padding: 5px 8px; }
.infoBox > div > input.search_btn { margin-left: 10px; border: 0; background-color: #F89E91; font-size: 15px; color: #fff; border-radius: 0; }
.infoBox > div > input.myCheckBtn { display: inline-block; margin: 0 5px 0 30px; }
.infoBox > div > input[id="myaddress"] { display: none; }
.infoBox > div > input[id="myaddress"] + label { display: inline-block; width: 20px; height: 20px; border: 2px solid #ddd; cursor: pointer; margin: 0 5px 0 25px; }
.infoBox > div > input[id="myaddress"]:checked + label { background: url('../../images/check_img.png') center no-repeat; background-size: 15px; border: 0; background-color: #F89E91; }
.infoBox > div > input::placeholder { font-size: 13px; color: #999; }

.infoBox2 { margin: 50px 0; border: 2px solid #999; }
.infoBox2 .info_table { width: 100%; text-align: center; }
.infoBox2 .info_table thead { background-color: #EDEDED; }
.infoBox2 .info_table thead tr {}
.infoBox2 .info_table thead tr th { font-size: 16px; color: #333; padding: 15px 0; }
.infoBox2 .info_table tbody {}
.infoBox2 .info_table tbody tr { border-bottom: 1px solid #ddd; }
.infoBox2 .info_table tbody tr td { padding: 20px; }
.infoBox2 .info_table tbody tr td img { max-width: 100px; }

.info_box3 { padding: 35px 70px; border: 2px solid #999; }
.info_box3 .payment_list { display: flex; justify-content: space-around; align-items: center; }
.info_box3 .payment_list li { text-align: center; }
.info_box3 .payment_list li p { font-size: 18px; line-height: 20px; color: #999; margin-bottom: 20px; }
.info_box3 .payment_list li:last-child p { color: #333; font-weight: 700; }
.info_box3 .payment_list li strong { font-size: 26px; line-height: 28px; color: #333; font-weight: 700; }
.info_box3 .payment_list li:last-child input { font-size: 32px; color: #F89E91; font-weight: 600; background: white; width: 117px; border: none; }
.info_box3 .payment_list li span { font-size: 17px; font-weight: 300; }

.btn_box { text-align: center; margin: 30px 0 0; }
.btn_box .final_btn { border: 0; border-radius: 10px; background-color: #F89E91; display: inline-block; width: 150px; padding: 10px 0; font-size: 18px; color: #fff !important; font-weight: 700; }
.btn_box {}




















/* #order{
    margin-left: 12%;
    margin-top: 50px;

}


#div1{
    margin-left: 11%;
    margin-right: 11%;
    border :1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
}

#deliveryLocation{
    margin-left: 22%;
}

#deliveryLocation #postalCodeSelect{
    width:100px;
    height:40px;
    border-radius: 9px;
    background-color:rgb(247, 170, 145);
}


#searchZipCode{
    height:40px;
    width:100px;
    border-radius: 9px;
    background-color:rgb(247, 170, 145);


}

#phone{
    height:40px;
    width:200px;
    border-radius: 9px;
}

#zipCode{
    height:40px;
    width:200px;
    border-radius: 9px;
}

#address1{
    height:40px;
    width:600px;
    border-radius: 9px;
}

#address2{
        height:40px;
        width:600px;
        border-radius: 9px;
}


#table1{
    width: 78%;
    margin-left:11%;
    text-align: center;
    border :1px solid black;
}
#table1 #tr1{
    background: rgb(220, 225, 232);
    padding : 20px;
    font-size: 25px;
    border :1px solid black;
}

#table1 #tr2 td{
    
    border: 1px;
    padding : 30px;
    font-size: 15px;
}

.restaurantLogo001{
    width: 100px;
    height: 100px;
}

#table2{
    width: 82%;
    margin-left:11%;
    text-align: center;
    padding : 20px;
    font-size: 25px;
   
}

#table2 tbody th{
    text-align: center;
}


#div2{
    border :1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 11%;
    margin-right: 11%;
} */




/* #paymentAmount{
    color:rgb(242, 119, 78);
    border: 1px;
    font-size: 25px;
}

#pay{

    width:200px;
    height:50px;
    border-radius: 9px;
    background-color:rgb(247, 170, 145);
    font-size: 25px;
    border:2px solid black;
    margin-bottom: 7px;
} */

/* #goShoppingBasket{
    width:200px;
    height:50px;
    border-radius: 9px;
    background-color:rgb(247, 170, 145);
    font-size: 25px;
    border:2px solid black;
    color :white;
    margin-left: 30px;
} */
/* 
#ok{
    width:100px;
    height:40px;
    border-radius: 9px;
    background-color:rgb(247, 170, 145);
    font-size: 15px;
    border:2px solid black;
    color :white;
}

#cancle{
    width:100px;
    height:40px;
    border-radius: 9px;
    background-color:rgb(255, 255, 255);
    font-size: 15px;
    border:2px solid black;
    color: black;
} */

