.center{
    text-align : center;
}

.center .logo{
    width: 350px;
    height: 350px;
}

/* #goCustomer{
    width:100px; 
    height:45px;
    margin-left: 40%;
    padding: 10px;
    border-radius: 9px;
    background-color:rgb(247, 170, 145);
}

#goBusinessman{
    width:100px; 
    height:45px;
    padding: 10px;
    border-radius: 9px;
    background-color:rgb(247, 170, 145);
}

#goMain{
    width:100px; 
    height:45px;
    padding: 10px;
    border-radius: 9px;
    background-color:rgb(247, 170, 145);
}
 */