.center {
    text-align: center;
}
.center .logo{
    width: 350px;
    height: 350px;
}
.center .id{
    width: 320px; 
    height: 40px;
}

.center .pwd{
    width: 320px; 
    height: 40px;
}

.center .login{
    height:40px;
    width:100px;
}

.center .reset {
    height:40px;
    width:100px;
}


.center form .login{
    border-radius: 9px;
    background-color:rgb(247, 170, 145);
}

.center form .reset{
    border-radius: 9px;
    background-color:rgb(247, 170, 145);
}