#orderComplete{
    text-align: center;
}

#div{
    border : 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 500px;
    margin-right: 500px;
}

#p{
    font-size: 20px;
    text-align: center;
}

#myPage{
    width:100px;
    height:40px;
    border-radius: 9px;
    color:rgb(247, 170, 145);
    font-size: 20px;
    border:2px solid rgb(247, 170, 145);
    background-color:rgb(255, 255, 255);
    margin-left: 36%;
}

#customerCare{
    width:100px;
    height:40px;
    border-radius: 9px;
    background-color:rgb(255, 255, 255);
    font-size: 20px;
    color:black;

}


#information{
    font-size:20px;
    text-align: center;
}

#table1{
    margin-left:30%
}



#table1 th{
    background-color:rgb(216, 216, 216);
    text-align: center;
    width : 180px;
    padding: 10px;
    border:1px solid black;
  
}

#table1 td{
    padding: 10px;
    border :1px solid black;
    width : 500px;
}

.restaurantLogo001{
    width: 100px;
    height: 100px;
}

.chicken{
    width: 100px;
    height: 100px;
}

#orderProduct{
    font-size:20px;
    text-align: center;
}

#table2{
    margin-left : 25%;
}

#table2 th{
    background-color:rgb(216, 216, 216);
    text-align: center;
    padding: 10px;
    border:1px solid black;
}

#table2 td{
    padding: 10px;
    text-align: center;
    border :1px solid black;
}

#restaurantInformation{
    width:200px;
}

#productInformation{
    width:400px;
}

#quantity{
    width:50px;
}

#paymentAmount{
    width:200px;
}