/* 회원탈퇴*/
#signoutMessage{
  text-align: center;
  text-shadow: 4px 2px 2px red
}
#signoutTextArea {
  width: 1000px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;
}
.sgbnt {
  width: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: #F89E91;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  border-color: #F89E91;
  color: white;

}

#signoutUserBtn{
  display: flex;
  margin-left: 410px;
}