#tablecol {
  width: 5%;
} 
#tablecol1 {
  width: 10%;
} 
#tablecol2 {
  width: 10%;

} 
#tablecol3 {
  width: 20%;

} 
#tablecol4 {
  width: 10%;

} 
#tablecol5 {
  width: 10%;

} 
#tablecol6 {
  width: 15%;

} 
#tablecol7 {
  width: 15%;

} 
#tablecol8 {
  width: 5%;

} 

.storeimg{
  width: 100px;
  height: 100px;
}

.urBtn {
  background-color: rgba(248, 158, 145, 1);
     border: none; 
     border-radius: 5px;
     color: white; 
     width: 70px;
     margin-bottom: 3px;
}

table *{
  text-align: center;
}
#pagetitle sub{
  color: #9B9B9B;
}

/* ===== pagination ===== */ 
/* nav */
.page_box {
  text-align: center;
  clear: right;
}

/* 페이징 전체 영역 */
.pagination {
  height: 36px;
  width: 40%;
  margin: 0 auto 20px;
  justify-content: center;
}


/* ul 태그 정렬 */
.pagination ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline-block;
}

/* 테두리와 폰트 */
.pagination a {
  float: left;
  padding: 1px 14px;
  line-height: 34px;
  text-decoration: none;
  /* 폰트 색상 */
  color: black;
  border: 1px solid #D7D4D4;
}

/* 버튼 눌렀을 때  */
.page-link-num:hover {
  background-color: #F3F3F3;
}

/* 누르면 고정 */
.page-link-num:focus {
  background-color: #F3F3F3;
  color:#F89E91;
}

/* ===== search ===== */ 
.search {
  margin: 0 auto;
  width:800px;
}

.glass {
  width: 30px;
  height: 30px;
}

.searchtext {
  margin: 20px 0 12% 0;
  width: 400px;
  height: 32px;
  border-radius: 1px !important;
}

.searchbutton{
  width: 72px;
  height: 33px;
  background-color: #F89E91;
  color: white;
  border:#F89E91;
}