#tablecol1 {
  width: 10%;
  background-color: rgb(251, 158, 158);
  color: white;
  text-align: center;
} 
#tablecol2 {
  width: 50%;
  background-color: white;
} 
#tablecol3 {
  width: 15%;
  background-color: rgb(251, 158, 158);
  color: white;
  text-align: center;

} 
#tablecol4 {
  width: 25%;
  background-color: white;
  text-align: center;

} 
#inputText {
  border: none; 
  height: 20px; 
  width: 100%;
}
#selectbtn {
  border-color: rgb(251, 158, 158);
  border-radius: 2px;
  color: red;
}

#writeTable thead{
  background-color: #EDEDED;
}
#writeTable textarea{
  width: 100%;
  height: fit-content;
  height: 300px;
  border: none;
  resize: none;
}
#fileAttachment{
  background-color: #f8f9fa;
  height: 250px; width: 1095px; 
  border-radius: 10px; 
  border: gray solid 1px;
}
#imgbtn1, #imgbtn2, #imgbtn3{
  border: none; 
  margin-left: 155px; 
  background-color: white;
}
#fileAttachment img{
  width: 150px;
  width: 150px;
}

#sendArea {
  margin-left: 400px;
  margin-top: 30px;
}
#sendQusestion{
  background-color: rgb(251, 158, 158);
  color: white; 
  width: 200px;  
  border-radius: 2px; 
  border: none;
  margin-left: 890px;
}

#delQusestion{
  background-color: rgb(251, 158, 158);
  color: white; 
  width: 200px;  
  border-radius: 2px; 
  border: none;
  margin-left: 890px;
}

#cnacel{
  background-color: gray; 
  color: white; 
  width: 200px;  
  border-radius: 2px; 
  border: none;
}

table {
  min-height: 400px;
}
h6 {
  text-align: right; 
  color: gray;
}
h3 {
  border-bottom: black solid 2px;
}

form input::file-selector-button { display: none; text-decoration: none; }

