.searchbutton{
  width: 72px;
  height: 33px;
  background-color: #F89E91;
  color: white;
  border:#F89E91;
  border-radius: 3px;
  margin-left: 450px;
}

#notice {
  border: gainsboro 1px solid;
  min-height: 200px;
  margin-top: 10px;
  border-top: solid black 2px;
}

#notice li{
  margin-left: 40px;
}



.qnaList td{
  width: 300px;
}

#title {
  border-bottom: 2px solid #333; 
}

table {   
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 
table a:link { color:black; }

table a:visited { color:black; }

table a:hover {   
  background-color: #F89E91;
}
table a:active {   
  background-color: #F89E91;
} */

.imgFAQ {
 width: 150px;
 height: 100px;
 background-color: #F89E91;
}


/* 자주하는 질문 */
.question_category { border: 2px solid #ddd; padding: 23px 0; margin-bottom: 30px; }
.question_category li { float: left; width: 16.66666%; text-align: center; padding: 18px; border-right: 1px solid #ddd; }
.question_category li:last-child { border-right: 0; }
.question_category li a { font-size: 18px; line-height: 20px; color: #333; display: block; width: 100%; }
.question_table tbody tr.answer.tal { text-align: left !important; background-color: #F89E91; display: none;}
.question_table tbody tr.answer td { padding: 30px; font-size: 16px; line-height: 22px; color: #333;}


