<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	
  	<!-- typeAliases 샘플입니다~ -->
  		<!-- <typeAliases>
  			<typeAlias type="com.greedy.spring.member.model.dto.MemberDTO" alias="MemberDTO"/>
  		</typeAliases> -->
  		<typeAliases>
  			<typeAlias type="com.sd.mommyson.member.dto.MemberDTO" alias="MemberDTO"/>
  			<typeAlias type="com.sd.mommyson.member.dto.EmailCodeDTO" alias="EmailCodeDTO"/>
  			<typeAlias type="com.sd.mommyson.user.dto.CartDTO" alias="CartDTO"/>
  		</typeAliases>
  		
  			
  		
  		
  </configuration>